.top-nav {
    min-height: 100px;
    border-bottom: 1px solid rgb(234, 229, 229);
}

.search-box {
    position: relative;
}

.search-box input {
    width: 100%;
    height: 30px;
    border: 1px solid rgb(191, 188, 188);
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    text-align: center;
    outline: none;
}

.search-box button {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(191, 188, 188);
    border-radius: 25px;
    padding: 14px;

    position: absolute;
    right: 8px;

}

.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    position: relative;
    /* border-radius: 50%; */
}

.count {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    padding: 12px;
    position: absolute;
    top: 0;
    right: 0;
}

.icon-custom {
    font-size: 25px;
    color: grey;
}